table {
    border-spacing: 2px;
}

tr, td {
    font-family: 'Encode Sans Expanded', sans-serif;
    width: 28px;
    height: 28px;
    text-align: center;
}

p {
    font-family: 'Encode Sans Expanded', sans-serif;
    margin: 0 auto;
}

h2 {
    display: block;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

button {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    width: 150px;
    height: 20px;

}
.active_cell {
    background-image: url("activecell.jpg")

}

.inactive_cell {
    background-image: url("inactivecell.jpg");
    background-position: center;
}

.empty {
    border: 0px;
    width: 15px;
    height: 15px;
}

.empty2 {
    border: 0px;
    width: 1px;
    height: 2px;
}

.count {
    background: #802717;
    color: #ffffff;
}

.target {
    background: #3F5E50;
    color: #ffffff;
}

#gamewon {
    display: none;
}

#gameon {
    display: none;
}

button {
    display: block;
}